/* NAVBAR & CAROUSEL CSS */
.navbar-default {
	background-color: transparent !important;
	border-color: transparent !important;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
	text-transform: uppercase;
}
.navbar-default .navbar-brand {
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #fff;
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	background-color: none;
}
.carousel-caption {
	padding-bottom: 230px;
}
.carousel-caption h2 {
	font-size: 50px;
	font-family: impact;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.carousel-caption p {
	font-size: 18px;
	width: 70%;
	margin: 20px auto;
	line-height: 1.9;
}
.carousel-caption a {
	background: deepskyblue;
	color: #fff;
	padding: 10px 25px;
	display: inline-block;
	border-radius: 50px;
	text-transform: uppercase;
}
.carousel .carousel-control {
	bottom: auto;
	width: 100%;
	height: 15%;
	background: none;
}
.carousel .carousel-control.right {
	top: auto;
	bottom: 0;
	background: none;
}
.carousel .carousel-indicators {
	bottom: auto;
	top: 50%;
	left: auto;
	right: 10px;
	width: 14px;
	margin: 0;
	transform: translateY(-50%);
}
.carousel .carousel-inner>.item {
	left: 0;
	top: 0;
}
.carousel .carousel-inner>.item>img {
	width: 100%;
}
.carousel .carousel-inner>.item.next, .carousel .carousel-inner>.item.active.right {
	transform: translate3d(0, 100%, 0);
	top: 0;
}
.carousel .carousel-inner>.item.prev, .carousel .carousel-inner>.item.active.left {
	transform: translate3d(0, -100%, 0);
	top: 0;
}
.carousel .carousel-inner>.item.next.left, .carousel .carousel-inner>.item.prev.right, .carousel .carousel-inner>.item.active {
	transform: translate3d(0, 0, 0);
	top: 0;
}
.carousel .carousel-inner>.active, .carousel .carousel-inner>.next.left, .carousel .carousel-inner .prev.right {
	top: 0;
}
.carousel .carousel-inner>.next, .carousel .carousel-inner>.active.right {
	top: 100%;
	left: 0;
}
.carousel .carousel-inner>.prev, .carousel .carousel-inner>.active.left {
	top: -100%;
	left: 0;
}
#carousel-example-generic {
	height: 100vh;
	width: 100%;
}
.carousel .carousel-inner>.item>img {
	width: 100%;
	height: 100vh;
}
@media only screen and (max-width: 991px) {
	.carousel-caption {
		padding-bottom: 340px;
	}
	.carousel-caption h2 {
		font-size: 40px;
		letter-spacing: 0;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-default .navbar-collapse {
		border-color: transparent;
		background: #fff;
	}
	.navbar-default .navbar-nav>li>a {
		color: #000;
	}
	.carousel-caption p {
		font-size: 12px;
		width: 95%;
		margin: 10px auto;
	}
	.carousel-caption {
		padding-bottom: 120px;
	}
	.carousel-caption h2 {
		font-size: 20px;
		letter-spacing: 0;
	}
}

/* CARD CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	font-family: 'Poppins', sans-serif;
}
body {
	background: rgb(245, 245, 245);
}
.container .wrapper {
	width: 1152px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0 auto;
	position: relative;
}
.round-1 {
	position: absolute;
	top: 5%;
	left: 32%;
	width: 13em;
	height: 13em;
	border-radius: 50%;
	box-shadow: 0 0 50px #D84869;
	background: linear-gradient(-25deg, #D84869, #F46641);
}
.round-2 {
	position: absolute;
	top: 50%;
	right: 23%;
	width: 19em;
	height: 19em;
	border-radius: 50%;
	box-shadow: 0 0 50px #5622FF;
	background: linear-gradient(180deg, #5622FF, #4190FD);
}
.box {
	width: 350px;
	height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ffffff1a;
	backdrop-filter: blur(20px);
	padding: 1.5em;
	border-radius: 25px;
	border: 2px solid #ffffff30;
	box-shadow: 0 0 30px #0000002a;
	text-align: center;
}
.box h2 {
	color: #000;
	text-transform: capitalize;
	margin: 15px 0;
}
.box h2 span {
	display: block;
	font-size: 15px;
	font-weight: 300;
	text-transform: capitalize;
}
.box p {
	color: #262626;
	font-size: 14px;
}
.btn-area a {
	text-decoration: none;
	color: #262626;
	background: rgba(255, 255, 255, 0.6);
	display: inline-block;
	padding: 8px 15px;
	margin: 15px 5px;
	border: 2px solid rgba(175, 175, 175, 0.733);
}
.btn-area a.ex {
	background: #2d68e6;
	color: #fff;
}
.socials {
	margin-top: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.socials div {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	line-height: 45px;
	color: #fff;
	margin: 0 5px;
}
.socials div.a1 {
	background: #3b5998;
}
.socials div.a2 {
	background: #55acee;
}
.socials div.a3 {
	background: #bd081c;
}
.socials div.a4 {
	background: #dc4e41;
}
.socials i {
	font-size: 20px;
}
.profile-img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
	object-fit: cover;
}
.profile-img img {
	width: 100%;
}

/* FOOTER */

/* LOGIN - SIGNUP */
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}
.wrapper {
  height: 100vh;
}
.myColor {
	background-image: linear-gradient(to right, #2a2185 50%, #000000 150%);
}
.myShadow {
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.myBtn {
	border-radius: 50px;
	font-weight: bold;
	font-size: 20px;
	background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
	border: none;
}
.myBtn:hover {
	background-image: linear-gradient(to right, #495aff 0%, #0acffe 100%);
}
.myHr {
	height: 2px;
	border-radius: 100px;
}
.myLinkBtn {
	border-radius: 100px;
	width: 50%;
	border: 2px solid #fff;
}
@media (max-width: 500px) {
  .wrapper {
    margin: 2px;
  }
}
